<!DOCTYPE HTML>
{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css"/>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="title-bar">
      <div id="app-title">The Buzz</div>
      <div>{{ user.profile.displayName }}</div>
      <div id="logout">
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div id="nav">
       <div class="nav-spacer"></div>
       <div id="news-feed">
         <a href="/posts">News Feed</a>
       </div>
       <div id="profile">
         <a href="/profile">Profile</a>
       </div>
       <div id="friends">
         <a href="/friends">Friends</a>
       </div>
       <div class="nav-spacer"></div>
    </div>
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
