<!DOCTYPE HTML>
<html>
  <head>
    <title>Profile</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="title">
      <span>The Buzz</span>
      <span>[Display Name]</span>
      <span>Logout</span>
    </div>
    <div id="nav">
       <span id="news-feed">News Feed</span>
       <span id="profile">Profile</span>
       <span id="friends">Friends</span>
    </div>
    <form>
      <div>
        <div>
          <img id="profile-img" src="" alt=""/>
        </div>
        <div id="user-names">
          <div>Display Name: <input type="text" name="displayName"/></div>
          <div>
            First Name: <input type="text" name="firstName"/>
            Last Name: <input type="text" name="lastName" />
          </div>
        </div>
      </div>
      <div id="email">
        Email: <input type="email" name="email"/>
      </div>
      <div id="bio">
        Bio: <textarea name="bio"></textarea>
      </div>
      <div>
        <input type="submit" value="save" />
      </div>
    </form>
  </body>
</html>
