<!DOCTYPE HTML>
<html>
  <head>
    <title>Profile</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="title">
      <span>The Buzz</span>
      <span>{{ profile.displayName }}</span>
      <span>Logout</span>
    </div>
    <div id="nav">
       <span id="news-feed">News Feed</span>
       <span id="profile">Profile</span>
       <span id="friends">Friends</span>
    </div>
    <div>
      <img id="profile-img" src="" alt=""/>
      <div id="user-names">
        <div>[Display Name]</div>
        <div>[Real name]</div>
      </div>
      <a href="/profile/edit_profile">
        <button type="button">Edit</button>
      </a>
    </div>
    <div id="email">
      Email: [user-email]
    </div>
    <div id="bio">
      Bio: [user-bio]
    </div>
    <div id="user-posts">

    </div>
  </body>
</html>
