{% extends 'base.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block extra_head %}
  <link href="{% static 'profile.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %} 

{% block content %}
  <div id="top-section">
    <span>
      <img src="{% static 'default-profile-pic.jpg' %}" /> 
    </span>
    <span id="info">
      <div>Display Name:  {{ user.profile.displayName }}</div>
      <div>Full Name:  {{ user.profile.firstName }} {{ user.profile.lastName }}</div>
      <div>Email: {{ user.profile.email }}</div>
      <div>GitHub: {{ user.profile.github }}</div>
    </span>
    <span>
      <a href="/profile/edit_profile">
        <button type="button">Edit Profile</button>
      </a>
    </span>
  </div>
  <div id="bio">
    <u>About Me:</u>
    </br>
    <p>
      {{ user.profile.bio }}
    </p>
  </div>
  <div id="user-posts">

  </div>
{% endblock %}
