<!DOCTYPE HTML>
{% load static %}
<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'profile.css' %}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="title-bar">
      <span id="app-title">The Buzz</span>
      <span>{{ user.profile.displayName }}</span>
      <span id="logout">
        <a href="/logout">Logout</a>
      </span>
    </div>
    <div id="nav">
       <span id="news-feed">
         <a href="#">News Feed</a>
       </span>
       <span id="profile">
         <a href="/profile">Profile</a>
       </span>
       <span id="friends">
         <a href="#">Friends</a>
       </span>
    </div>
    <div>
      <h1>Welcome</h1>
      Hello, {{request.user.username}}
      <br/>
      Some info about you:
      <ul>
      <li>email: {{request.user.profile.email}}
      <li>github: {{request.user.profile.githubUsername}}
      <li>bio: {{request.user.profile.bio}}
      </ul>
      <br/> Those should be blank for now
      This will show your stream sometime later.
<!-- remove this after it works -->
<br/>
Here's all the users! Click on them to become friends!<br/>

<form action = '/home/' method = 'POST'>
{% csrf_token %}
{% for user in data %}
{% if user.username != request.user.username %}
{{user.username}}  
{% endif %}
{% endfor %}
<br/>
<input type = "text" name = "befriend"/></input><br/>
<input  type='submit' value ="befriend"></button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> <!--Put all script in .js file later -->
<script type="text/javascript">
//function addfriend(user){
//var tmp = "{{request.user.username|escapejs}}";
//alert(user);

//sendJSONXMLHTTPRequest("/home/", uhhhhh, callback)
//}
/*
function updateFriends(){ //send a POST request to update the server using jQuery
    var data = {'profile': pieFact};
    $.post(URL, data, function(response){
        if(response === 'success'){ alert('Yay!'); }
        else{ alert('Error! :('); }
    });
}*/

/*
function sendJSONXMLHTTPRequest(url, objects, callback) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState==4) {
            try {
                if (xhr.status==200) {
              
		    if(callback !== null){
		    callback(JSON.parse(xhr.responseText));
		    }
                }
            } 
            catch(e) {
                alert('Error: ' + e.name);
            }
        }
    };
  
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.setRequestHeader("Accept", "*");
	xhr.send(JSON.stringify(objects));
	}	*/
</script>
    </div>
  </body>
</html>
