<!DOCTYPE html>

<html lang="en">
<head>
<title>TheBuzz</title>
</head>
<body>
 <meta charset="UTF-8"/> 

<br/>
<div> <a href = "/logout/">Log Out</a> </div>
<br/>

<h1>Welcome</h1>
Hello, {{request.user.username}}
<br/>
Some info about you:
<ul>
<li>email: {{request.user.profile.email}}
<li>github: {{request.user.profile.githubUsername}}
<li>bio: {{request.user.profile.bio}}
</ul>
<br/> Those should be blank for now
This will show your stream sometime later.

<!-- remove this after it works -->
<br/>
Here's all the users! Click on them to become friends!<br/>
{% for user in data %}
<button onclick = "addfriend({{user}})">{{ user.username}}</button>
{% endfor %}

<script type="text/javascript">
function addfriend(user){
//alert(user.username);
}
</script>

</body>
</html>
