{% extends 'base.html' %}

{% load static %}
{% load markdown_deux_tags %}
{% load tz %}

{% block title %}Post{% endblock %}

{% block extra_head %}
  <link href="{% static 'post_details.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
  <div id="detail_content">

    <div id="post-title-bar">
      <div id="author">{{ post.author.displayName }}</div>
      <div id="title"><u>{{ post.title }}</u></div>
      <div id="date">{{ post.published }}</div>
      <div id="edit_button">

      </div>
    </div>
    <div id="post_body">
        {% if post.contentType == 'text/markdown' %}
            {{ post.content | markdown }}

        {% elif 'image' in post.contentType %}
        <div>
            <img src="{{ post.content }}"/>
        </div>
	    {% else %}
            {{ post.content | safe }}
	    {%endif %}
    </div>
	    <div id="under_post">
      {% if post.categories %}
        <div id="post_categories">
          {% for category in post.categories %}
            <span id="category_values">#{{ category | safe }}</span>
		{% endfor %}
		</div>
	{% endif %}	
		
    
  
{% endblock %}
