<!DOCTYPE html>
<html>
<head>
<title>Post Detail</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
 //help with making a textbox appear from
 //

//checks on entry to the page if the 'visible to' box should be there
$(document).ready(function(){
  var privacy_textbox = document.getElementById('privacy_textbox');
  var dropdown = document.getElementById('vis_dropdown');

  console.log(dropdown.value);
  if(dropdown.value == 'PRIVATE'){
    privacy_textbox.disabled = false;
  }else{
     privacy_textbox.disabled=true; 

   }

});

function privacyBox(val){ //$(document).ready(
  alert('Its here');
  var privacy_textbox = document.getElementById('privacy_textbox');
  console.log(val.value);
  if(val.value=='PRIVATE'){
    privacy_textbox.disabled = false;
  }else{
     privacy_textbox.disabled=true; 

   }
}



</script>
</head>
<body>


{% extends 'base.html' %}

{% load static %}

{% block title %}Create Post{% endblock %}

{% block extra_head %}
  <link href="{% static 'form.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div id="form">
    <form action='/posts/post_form_upload.html' method='post' enctype="multipart/form-data">{% csrf_token %}
      {{ form.as_p }}
      <div id="button">
        <input type='submit' value='Submit' />
      </div>
    </form>
  </div>
{% endblock %}
</body>
</html> 
