body {
  background-color: #fff5cc;
}

#title-bar {
  background-color: #000000;
  color: #fff5cc;
  font-size: 24pt;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#title-bar span {
  padding: 0px 195px;
}

#app-title {
  font-size:35pt;
  color: #ffd11a;
}

#logout a:link, #logout a:visited{
  color: #fff5cc
}

#logout a:hover, #logout a:active {
  color: #e6f2ff
}

#nav {
  background-color: #ffd11a;
  font-size:20pt;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#nav span {
  padding-left:50px;
  padding-right:50px;
}

#nav a, #nav a:visited {
  color: #000000;
}

#nav a:hover, #nav a:active {
  color: #fff5cc;
}
