#form {
  width: 800px;
  margin: 0 auto;
  font-size: 18pt;
}

#form input[type='submit'] {
  width: 100px;
  height: 40px;
  font-size:14pt;
  background-color: #000000;
  color: #ffd11a;
}

#button {
  text-align: center;
}

#form p {
  padding-left: 150px;
}

#id_bio, #id_content {
  display: block;
}

#id_content {
  font-size: 12pt;
}

#id_choose_Post_Visibility {
  font-size: 14pt;
}

#form input[type='text'] {
  font-size: 12pt;
}
