#news_feed_content {
  width: 800px;
  margin: 25px auto;
}

#newpost {
  width: 150px;
  height: 40px;
  font-size:14pt;
  background-color: #000000;
  color: #ffd11a;
  margin-bottom: 25px;
}

#post-title-bar {
  width: 100%;
  display: inline-flex;
  background-color: #000000;
  color: #fff5cc;
  padding: 5px;
}

#author {
  width: 30%;
  text-align: left;
}

#post-title {
  width: 40%;
  text-align: center;
}

#post-title a, #post-title a:visited, #author a, #author a:visited{
  color: #fff5cc;
}

#post-title a:hover, #author a:hover {
  color: #e6f2ff;
}

#post-date {
  width: 30%;
  text-align: right;
}

#post-blocks {
  padding: 15px;
  background-color: #ffd11a;
  color: #000000;
  border: solid 2px #000000;
}

button {
  width: 70px;
  height: 25px;
  font-size:10pt;
  background-color: #fff5cc;
  color: #000000;
}

#add_post_btn a, #add_post_btn a:visited, #add_post_btn a:hover{
  color: #ffd11a;
  text-decoration: none;
}

#delet-div {
  width: 100%;
  text-align: right;
}

img {
  max-width: 700px;
  height: auto;
}

#incomingButton {
  text-align: center;
  background-color: #ffd11a;
  color: #000000;
  border: solid 2px #000000;
  width: 800px;
  margin: 25px auto;
  height: 50px;
  font-size: 14pt;
}

#incomingButton:hover {
  background-color: #d6af15;
}

#post_categories {
  align: left;
}

.pContents {
  padding: 15px 0px;

}

.commentButton {
 width: 100px;
}

.deleteButton {
 width: 100px;
}

#cmtBtn {
 width: 100px;
 display: block;
}

#comment-label {
  width: 100%;
  text-align: left;
  font-size: 14pt;
  margin-top: 20px !important;
}

#comments {
  font-size: 14pt;
}

.comment-sections {
  background-color: #fff5cc;
  color: #000000;
  border-style: ridge;
  font-size: 12pt;
  padding: 10px;
}

#comment-title-bar {
  display: flex;
  width: 100%;
  text-decoration: underline;
}

#comment_author {
  width: 50%;
  float: left;
}

#comment_date {
  width: 50%;
  float: right;
  text-align: right;
}

#no-comments {
  color: #fff5cc;
  font-size: 14pt;
}

#detail_content {
  width: 700px;
  margin: 25px auto;
  font-size: 18pt;
  background-color: #000000;
  color: #ffd11a;
  border: #ffd11a solid 3px;
  padding: 15px;
}

.tbox{
 width:83%;
 height: 20%;
 resize:none;
 font-size: 12pt;
}

.deleteCommentButton{
float: right;
width:100px;

}

button:hover{
  background-color: #e8d99d;
}

#delet-div{
  text-align: right;
}

#delet-div a {
  text-decoration: none;
}
