#detail_content {
  width: 800px;
  margin: 25px auto;
  font-size: 18pt;
  background-color: #000000;
  color: #ffd11a;
  border: #ffd11a solid 3px;
  padding: 15px;
}

#detail_content div {
  margin: 5px 0px;
}

#post_body {
  background-color: #fff5cc;
  color: #000000;
  padding: 5px;
  border-style: ridge;
}

#post-title-bar {
  display: flex;
  width: 100%;
}

#author {
  width: 20%;
}

#title {
  width: 60%;
}

#edit_button {
  width: 20%;
  text-align: right;
}

#edit_button button {
  width:70px;
  height: 35px;
}

#comment-label {
  width: 100%;
  text-align: left;
  font-size: 14pt;
  margin-top: 20px !important;
}

#comments {
  font-size: 14pt;
}

.comment-sections {
  background-color: #fff5cc;
  color: #000000;
  border-style: ridge;
  font-size: 12pt;
  padding: 5px;
}

#comment-title-bar {
  display: flex;
  width: 100%;
  text-decoration: underline;
}

#comment_author {
  width: 50%;
  float: left;
}

#comment_date {
  width: 50%;
  float: right;
  text-align: right;
}

#no-comments {
  color: #fff5cc;
  font-size: 14pt;
}

button {
  width: 200px;
  height: 50px;
  font-size: 16pt;
  background-color: #ffd11a;
  color: #000000;
}

img {
  max-width: 700px;
  height: auto;
}

#under_post {
  display: flex;
  width: 100%;
  font-size: 12pt;
}

#post_categories {
  width: 75%;
  text-align: left;
}

#date {
  width: 100%;
  text-align: right;
  float: right;
}
