{% extends 'base.html' %}

{% load static %}

{% block title %}Add Friend{% endblock %}

{% block extra_head %}
  <link href="{% static 'friends.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
  <div id="form">
    <form action = '/friends/' method = 'POST'>{% csrf_token %}
        <div>
          <span>Select a user to friend: </span>
          <select id="user_select" name="befriend">
            {% for author in authors %}
                {% if author.id != request.user.profile.id %}
                    <option value='{{author.id}}'>{{ author.displayName }} {{ author.url }}</option>
                {% endif %}
            {% endfor %}
          </select>
          <input id="request_btn" type='submit' value='Send Request' name="button1"/>
        </div>
    </form>

    <form action = '/friends/' method = 'POST'>{% csrf_token %}
        <div>
            <span>Enter a user url to friend: </span>
            <input id="remote_user_id" type="text" name="befriendremote">
            </input>
            <input id="request_btn" type='submit' value='Send Request' name="button2"/>
            {% if invalid_url %}
                <span style="color: red; ">*Invalid url</span>
            {% endif %}
        </div>
    </form>

  <div id="requests">
    <div class="request_blocks" id="friend_requests">
      <div class="request_titles">Friend Requests</div>
      <!--<form action='/friends/' method='POST'>{% csrf_token %}-->
        <div class="request_list">
          {% if friend_requests %}
            {% for request in friend_requests %}
              <div class="followers_div">
                <div class="followers">
                    <div>
                        <a href="/author/{{request.id}}/profile">
                            {{ request.displayName }}
                        </a>
                    </div>
                </div>
                <div class="add_btn">
                    <a class="a_button" href="/friends/{{ request.id }}/accept_request">
                        <button class='friend_request_btn' type="button"><span style="color: #3c763d">&#10003;</span></button>
                    </a>
                    <a class="a_button" href="/friends/{{ request.id }}/delete_request">
                        <button class='friend_request_btn' type="button"><span style="color: darkred">&#x2717;</span></button>
                    </a>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div>No friend requests</div>
          {% endif %}
        </div>
    </div>
  </div>

  <div id="friends-block">
    <div id="friend-title">Following</div>
    {% if following %}
      {% for friend in following %}
        <div class="each_friend">
            <div class="friend_heart">
                {% if friend in real_friends %}
                &#9829;
                {% endif %}
            </div>
          <div class="friends_name">

            <a href="/author/{{friend.id}}/profile">
              {{ friend.displayName }}
            </a>
          </div>

          <div class="unfrend_btn">
              {% if not friend in real_friends %}
            <form action = '/friends/' method = 'POST'>{% csrf_token %}
                <input type="hidden" name='id' value="{{ friend.id }}">
                <button id="following_btn" type='submit' name="button3">Send Friend Request</button>
            </form>
              {% endif %}
            <a href="/friends/{{ friend.id }}/delete_friend">
                <button class='following_btn' type="button">Delete</button>
            </a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div id="no-friends">Following list is empty</div>
    {% endif %}
  </div>
{% endblock %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> <!--Put all script in .js file later -->
<script type="text/javascript">
//function addfriend(user){
//var tmp = "{{request.user.username|escapejs}}";
//alert(user);

//sendJSONXMLHTTPRequest("/home/", uhhhhh, callback)
//}
/*
function updateFriends(){ //send a POST request to update the server using jQuery
    var data = {'profile': pieFact};
    $.post(URL, data, function(response){
        if(response === 'success'){ alert('Yay!'); }
        else{ alert('Error! :('); }
    });
}*/

/*
function sendJSONXMLHTTPRequest(url, objects, callback) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState==4) {
            try {
                if (xhr.status==200) {

		    if(callback !== null){
		    callback(JSON.parse(xhr.responseText));
		    }
                }
            }
            catch(e) {
                alert('Error: ' + e.name);
            }
        }
    };

	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.setRequestHeader("Accept", "*");
	xhr.send(JSON.stringify(objects));
	}	*/
</script>
