{% extends 'base.html' %}

{% load static %}

{% block title %}Add Friend{% endblock %}

{% block extra_head %}
  <link href="{% static 'form.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
  <div id="form">

    Here's all the users!<br/>
    <form action = '/friends/' method = 'POST'>
        {% csrf_token %}
        <select name="befriend">
        {% for user in users %}
            {% if user.username != request.user.username %}
                <option value='{{user.username}}'>{{ user.username }}</option>
            {% endif %}
        {% endfor %}
        </select>
        <br/>
        <input  type='submit'></button>
    </form>
    <br/>
    <h3>Pending Friend Requests (Waiting on them)</h3>
    <ul>
    {% if following %}
        {% for user in following %}
            <p>{{ user }}</p>
        {% endfor %}
    </ul>
    {% else %}
        <p>No pending friend requests</p>
    {% endif %}

<h2>Friend Requests (Respond to)</h2>

<form action='/friends/' method='POST'>
    {% csrf_token %}
{% for follower in followers %}
    <p>{{ follower }}</p>

{% endfor %}

<h2>Friends</h2>
{% for friend in friends %}
    <span>{{ friend }}</span>
    <a href="/friends/{{ friend.id }}/delete_friend">
        <button type="button">Unfriend</button>
    </a>
{% endfor %}

{% endblock %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> <!--Put all script in .js file later -->
<script type="text/javascript">
//function addfriend(user){
//var tmp = "{{request.user.username|escapejs}}";
//alert(user);

//sendJSONXMLHTTPRequest("/home/", uhhhhh, callback)
//}
/*
function updateFriends(){ //send a POST request to update the server using jQuery
    var data = {'profile': pieFact};
    $.post(URL, data, function(response){
        if(response === 'success'){ alert('Yay!'); }
        else{ alert('Error! :('); }
    });
}*/

/*
function sendJSONXMLHTTPRequest(url, objects, callback) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState==4) {
            try {
                if (xhr.status==200) {
              
		    if(callback !== null){
		    callback(JSON.parse(xhr.responseText));
		    }
                }
            } 
            catch(e) {
                alert('Error: ' + e.name);
            }
        }
    };
  
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.setRequestHeader("Accept", "*");
	xhr.send(JSON.stringify(objects));
	}	*/
</script>
